/* ProfileNavbar.css */

/* EmployeeDashboard.css */

.employee-dashboard {
  /* Add some padding to the top to create space between the navbar and the cards */
  padding-top: 10px;
}

.card-container {
  /* Reduce the margin between the cards */
  margin-bottom: 10px;
  margin-top: -20px;
}

/* Add more custom styles as needed */

.profile-navbar {
  background-color: #007bff;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Add margin to separate the navbar from cards */
}

.profile-navbar h3 {
  margin: 0;
  font-size: 24px;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #007bff;
  min-width: 120px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-content button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}
